@use '/src/sass/base/variables.scss' as *;

.activities {
	padding-top: 60px;
	&__wrapper {
		margin-top: 20px;
		row-gap: 40px;
	}
	&__img {
		margin-top: 40px;
		width: 100%;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
	}
	&__text {
		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		color: $dark;
		&_colored {
			font-weight: 500;
			color: $ceramic;
		}
	}
}

@media screen and (min-width: 768px) {
	.activities {
		padding: 60px 95px 0 95px;
		&__wrapper {
			margin-top: 40px;
		}
		&__text {
			margin-top: 25px;
			font-size: 20px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.activities {
		padding: 60px 0 0 0;
		&__col {
			padding: 0 10px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.activities {		
		&__wrapper {
			margin-top: 80px;
		}
		&__img {
			margin-top: 60px;
		}
		&__text {
			&_fixed {
				width: 556px;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.activities {		
		padding: 100px 0 0 0;
	}
}
