@use '../base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.blog {
  padding-top: 50px;
  &__title {
    margin-top: 60px;
    &-h3 {
      text-align: left;
      font-size: 24px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 60px;
  }
  &__card {
    border: 1px solid $dark;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background: $light;
  }

  &__data {
    &-column {
      padding: 25px 25px 0 25px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__text {
    margin-top: 25px;
    padding: 0 25px 25px 25px;
    font-weight: 400;
    font-size: 16px;
    color: $dark;
  }

  &__img {
    max-inline-size: calc(100% + 2px);
    transform: translateX(-1px) translateY(-1px);
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .blog {
    &__wrapper {
      position: relative;
      @include angle-decoration;
      padding: 25px 25px 0 25px;
    }
    &__data {
      &-column {
        gap: 0;
        justify-content: space-between;
      }
    }
    &__text {
      margin-top: 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .blog {
    &__wrapper {
      gap: 50px;
      align-items: flex-start;
    }
    &__card {
      width: 520px;
      min-height: 375px;
    }

    &__img {
      height: 240px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .blog {
    padding-top: 40px;
    &__wrapper {
      align-items: stretch;
    }
    &__title {
      margin-top: 100px;
    }
    &__card {
      width: 670px;
    }
  }
}
