@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.catalog {
  padding-top: 50px;
  &__title {
    margin-top: 60px;
  }
  &__tabs {
    display: flex;
    column-gap: 50px;
    row-gap: 13px;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 13px 25px;
    border: 1px solid $dark;
  }
  &__tab {
    position: relative;
    border: none;
    padding: 0;
    background: none;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    &_active::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: -1px;
    }
  }
  &__content {
    margin-top: 60px;
  }
  &__item {
    flex-direction: column;
    row-gap: 20px;
  }

  &__card {
    border: 1px solid $dark;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background: $light;
    &-img {
      width: 100%;
      height: 198px;
      object-fit: cover;
    }
    &-info {
      padding: 11px 12px 17px 12px;
    }
    &-name {
      font-weight: 500;
      font-size: 16px;
      color: #000;
    }
    &-price {
      margin-top: 7px;
      font-weight: 500;
      font-size: 16px;
      color: #000;
    }
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    &__tabs {
      width: 460px;
    }
    &__content {
      padding: 10px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 1px;
        background-color: $dark;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 200px;
        background-color: $dark;
      }
    }
    &__item {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 20px;
    }
    &__card {
      width: 340px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .catalog {
    &__content {
      padding: 25px;
    }
    &__item {
      column-gap: 35px;
      row-gap: 35px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .catalog {
    &__title {
      margin-top: 100px;
    }
    &__item {
      column-gap: 83px;
      row-gap: 25px;
    }
    &__card {
      width: 285px;
    }
  }
}
