@use '/src/sass/base/variables.scss' as *;

.footer {
  margin-top: 60px;
  padding: 50px 0;
  background-color: $dark;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__form {
    width: 293px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $light;
  }
  &__subtitle {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    color: $light;
  }
  &__input {
    margin-top: 40px;
    background-color: $dark;
    color: $light;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-size: 14px;
    display: block;
    width: 100%;
    padding-bottom: 15px;
    &:focus {
      border: none;
      outline: 1px solid $ui-active;
    }
    &::placeholder {
      color: $ui-disabled;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
    }
  }
  &__label {
    display: flex;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: $light;
    a {
      text-decoration: none;
      color: #a22dc6;
      margin-left: 2px;
    }
  }
  &__checkbox {
    appearance: none;
    border: 1px solid $light;
    background-color: $dark;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    align-self: center;
    cursor: pointer;
    &:checked::after {
      content: '✔';
      color: $light;
      display: block;
      text-align: center;
    }
  }
  &__btn {
    margin-top: 40px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      margin-top: 40px;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 16px;
          color: $light;
        }
      }
    }
  }
  &__social {
    &_links {
      display: flex;
      width: 92px;
      justify-content: space-between;
      margin-top: 40px;
    }
    &_item {
      font-size: 24px;
      color: $light;
      text-decoration: none;
      &::before {
        margin: 0;
      }
    }
  }
  &__copy {
    margin-top: 40px;
    text-align: center;
    color: $light;
    font-weight: 400;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__copy {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    margin-top: 100px;
    padding: 79px;
    &__copy {
      margin-top: 18px;
    }
  }
}
