@use '/src/sass/base/variables.scss' as *;

.git {
  padding-top: 60px;
  &__wrapper {
    margin-top: 59px;
  }
  &__col {
    position: relative;
    &_hidden {
      display: none;
    }
  }
  &__vase {
    display: none;
  }
  &__form {
    height: 428px;
  }
  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  &__label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: $dark;
    &:nth-child(2) {
      margin-top: 8px;
    }
  }
  &__input {
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    padding: 10px 15px;
    width: 100%;
    height: 48px;
    background: #fff;
    color: $dark;
    &:focus {
      border: none;
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
    }
  }
  &__textarea {
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    padding: 10px 15px;
    width: 100%;
    height: 132px;
    resize: none;
    &:focus {
      border: none;
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
    }
  }
  &__check-block {
    display: flex;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: $dark;
    a {
      text-decoration: none;
      color: #a22dc6;
      margin-left: 2px;
    }
  }
  &__checkbox {
    border: 1px solid $dark;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    align-self: center;
  }
  &__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .git {
    &__wrapper {
      margin-top: 45px;
    }
    &__vase {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &__input {
      width: 300px;
    }
    &__textarea {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .git {
    &__wrapper {
      margin-top: 80px;
    }
    &__col {
      &_hidden {
        display: block;
      }
    }
    &__img {
      width: 550px;
      height: 341px;
      object-fit: cover;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__input {
      &:hover {
        border: none;
        outline: 1px solid $dark;
      }
    }
    &__textarea {
      &:hover {
        border: none;
        outline: 1px solid $dark;
      }
    }
    &__form {
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .git {
    padding-top: 100px;
    &__img {
      width: 100%;
      height: 356px;
    }
    &__fieldset {
      display: flex;
      column-gap: 45px;
    }
    &__form {
      margin-left: 147px;
    }
  }
}
