@use '/src/sass/base/variables.scss' as *;

.git {
	padding-top: 60px;
	&__wrapper {
		margin-top: 59px;
	}
	&__col {
		position: relative;
		&_hidden {
			display: none;
		}
	}
	&__vase {
		display: none;
	}
	&__form {
		height: 428px;
	}
}

@media screen and (min-width: 768px) {
	.git {
		&__wrapper {
			margin-top: 45px;
		}
		&__vase {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

@media screen and (min-width: 1024px) {
	.git {
		&__wrapper {
			margin-top: 80px;
		}
		&__col {
			&_hidden {
				display: block;
			}
		}
		&__img {
			width: 550px;
			height: 341px;
			object-fit: cover;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
		}
	}
}

@media screen and (min-width: 1920px) {
	.git {		
		&__img {
			width: 100%;
			height: 356px;
		}
	}
}