@use '/src/sass/base/variables.scss' as *;

.header {
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		width: 100px;
		height: 100px;
	}
	&__icons {
		display: flex;
		align-items: flex-start;
		gap: 15px;
		a {
			display: block;
			color: $dark;
			span {
				display: block;
				width: 20px;
				height: 20px;				
			}
		}

	}
	&__nav {
		display: none;
	}
}

.burger {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 23px;
	margin-right: 28px;
	span {
		display: block;		
		border: 1px solid $dark;
		width: 20px;
		height: 0px;
	}
}

@media screen and (min-width: 768px) {
	.header {
		&__nav {
			display: block;
			margin-top: 20px;
			ul {
				padding: 0;
				display: flex;
				justify-content: center;
				gap: 30px;
				li {
					list-style-type: none;
				}
			}
		}
		&__link {
			font-weight: 400;
			font-size: 20px;
			text-transform: uppercase;
			color: $dark;
			text-decoration: none;
		}
	}
	.burger {
		visibility: hidden;
	}	
}

@media screen and (min-width: 1920px) {
	.header {
		&__logo {
			width: 150px;
			height: 151px;
		}
		&__nav {
			margin-top: 36px;
			ul {
				gap: 60px;
			}
		}
	}

}