@use '/src/sass/base/variables.scss' as *;

.header {
	display: flex;
	justify-content: space-between;
	&__logo {
		width: 100px;
		height: 100px;
	}
	&__icons {
		display: flex;
		align-items: flex-start;
		gap: 15px;
		a {
			display: block;
			color: $dark;
			span {
				display: block;
				width: 20px;
				height: 20px;				
			}
		}

	}
}

.burger {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 23px;
	margin-right: 28px;
	span {
		display: block;		
		border: 1px solid $dark;
		width: 20px;
		height: 0px;
	}
}