@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.btn-default {
  @include button;
  width: 230px;
  height: 50px;
  font-size: 20px;
  transition: 0.5s all;
}

.btn-send {
  @include button;
  width: 220px;
  height: 40px;
  font-size: 16px;
  transition: 0.5s all;
  @include btn-focus;
  @include btn-disabled;
}

.btn-submit {
  @include button;
  width: 90px;
  height: 40px;
  font-size: 16px;
  border: 1px solid $light;
  color: $light;
  @include btn-disabled;
}

.btn-read {
  @include button;
  width: 145px;
  height: 32px;
  font-size: 14px;
  transition: 0.5s all;
  @include btn-focus;
}

@media screen and (min-width: 1200px) {
  .btn-default {
    &:hover {
      background-color: $dark;
      color: $light;
    }
    &:active {
      box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
      background: rgba(217, 217, 217, 0.1);
      color: $dark;
      border: none;
    }
  }
  .btn-send {
    @include btn-active;
    @include btn-hover;
  }
  .btn-read {
    @include btn-active;
    @include btn-hover;
  }
}

@media screen and (min-width: 1920px) {
  .btn-default {
    width: 330px;
    height: 60px;
  }
}
